.container-chat {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.grid {
	display: grid;
}

.logo {
	grid-area: logo;
}

.nav {
	grid-area: nav;
}

.content {
  grid-area: content;
  height: 500px;
}

.sidenav {
	grid-area: sidenav;
	height: 500px;
	overflow-y: auto;
}

.search {
	grid-area: search;
}

.footer {
	grid-area: footer;
}

.grid-template-areas-1 {
  width: 100%;
	grid-template-areas:
		"logo nav nav"
		"search content content"
		"sidenav content content"
		"sidenav footer footer"
		;
}